:root {
  --branding-color: #e6e3dd;
  --primary-font-color: #545454;
  --background-color: #cbc1b8;
  --heading-font-family: "Playfair Display", serif;
  --paragraph-font-family: "Arimo", sans-serif;
}

body {
  font-family: var(--paragraph-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--primary-font-color);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-family: var(--paragraph-font-family);
  font-size: 16px;
  line-height: 30px;
}

nav {
  padding: 20px 0;
  background-color: #fff;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: var(--primary-font-color);
}

nav a:hover {
  text-decoration: underline !important;
}

nav li.active a {
  font-weight: 800;
}

.hero h2 {
  font-family: var(--paragraph-font-family);
  font-size: 24px;
  line-height: 1.5;
  color: var(--primary-font-color);
  font-weight: 500;
}

.hero {
  background: var(--background-color);
  text-align: center;
  color: var(--primary-font-color);
  padding: 100px 0px;
}

.hero p {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
  color: var(--primary-bg-color);
}

.btn-branding {
  border: 2px solid var(--primary-font-color);
  background: #fff;
  color: var(--primary-font-color);
  border-radius: 4px;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  border: 2px solid var(--branding-color);
  color: var(--primary-font-color);
  border-radius: 4px;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.description {
  padding: 60px 20px;
}

.content {
  background: var(--background-color);
}

.content-container {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.content-container img {
  border: 20px solid var(--branding-color);
  max-width: 80%;
  margin: 0 auto;
}

.content h1 {
  font-size: 64px;
  font-weight: 800;
}

.content h2 {
  font-family: var(--paragraph-font-family);
  font-size: 18px;
  font-weight: 800;
}

.content h4 {
  font-family: var(--paragraph-font-family);
  font-size: 24px;
  font-weight: 800;
}

.content-container p {
  font-family: var(--paragraph-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.btn-about-projects {
  background: var(--branding-color);
  color: var(--primary-font-color);
  border-radius: 4px;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 200px;
}

footer {
  padding: 40px;
}

footer .contact-box {
  background: var(--branding-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .email-link {
  text-decoration: none;
  font-size: 24px;
  color: var(--primary-font-color);
}
footer .email-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer .social-links a {
  color: var(--primary-font-color);
  margin: 0 20px;
  font-size: 18px;
  padding: 10px 14px;
  background: #fff;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: #fff;
  background: var(--primary-font-color);
}

@media (max-width: 900px) {
  .btn-about-projects {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 20px;
  }
  .content-container {
    padding: 80px 20px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .content h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 44px;
  }

  h4 {
    font-size: 18px;
  }

  .description {
    text-align: center;
    padding: 0px 20px;
  }

  .hero {
    padding: 60px 20px;
  }

  nav {
    padding: 10px;
  }

  footer .contact-box {
    padding: 20px;
  }

  footer {
    padding: 0px;
  }
}
