:root {
  --branding-color: #e6e3dd;
  --primary-font-color: #545454;
  --background-color: #cbc1b8;
  --heading-font-family: "Playfair Display", serif;
  --paragraph-font-family: "Arimo", sans-serif;
}

body {
  font-family: var(--paragraph-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--primary-font-color);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--paragraph-font-family);
  font-size: 16px;
  line-height: 30px;
}

.hero h2 {
  font-family: var(--paragraph-font-family);
  font-size: 24px;
  line-height: 2;
  color: var(--primary-font-color);
  font-weight: 500;
}

.hero {
  background: var(--background-color);
  text-align: center;
  color: var(--primary-font-color);
  padding: 160px 0px;
}

.hero p {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
  color: var(--primary-bg-color);
}

.btn-branding {
  background: var(--branding-color);
  color: var(--primary-font-color);
  border-radius: 4px;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  border: 2px solid var(--branding-color);
  color: var(--primary-font-color);
  border-radius: 4px;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.description {
  padding: 100px 20px;
}

@media (max-width: 900px) {
  .description {
    text-align: center;
    padding: 0px 20px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 48px;
  }
}
