:root {
  --branding-color: #e6e3dd;
  --primary-font-color: #545454;
  --background-color: #cbc1b8;
  --heading-font-family: "Playfair Display", serif;
  --paragraph-font-family: "Arimo", sans-serif;
}

body {
  font-family: var(--paragraph-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--primary-font-color);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--paragraph-font-family);
  font-size: 16px;
  line-height: 30px;
}

.hero h2 {
  font-family: var(--paragraph-font-family);
  font-size: 24px;
  line-height: 1.5;
  color: var(--primary-font-color);
  font-weight: 500;
}

.hero {
  background: var(--background-color);
  text-align: center;
  color: var(--primary-font-color);
  padding: 160px 0px;
}

.hero p {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
  color: var(--primary-bg-color);
}

.btn-branding {
  background: var(--branding-color);
  color: var(--primary-font-color);
  border-radius: 4px;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  border: 2px solid var(--branding-color);
  color: var(--primary-font-color);
  border-radius: 4px;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.description {
  padding: 100px 20px;
}

.content {
  background: var(--background-color);
}

.content-container {
  padding: 160px 0px;
}
.content-container img {
  display: flex;
  width: 500px;
  margin: 0 auto;
  border: 20px solid var(--branding-color);
}

.content h1 {
  font-size: 64px;
  font-weight: 800px;
  text-align: center;
}

.content h2 {
  font-family: var(--paragraph-font-family);
  font-size: 18px;
  font-weight: 800px;
  text-align: center;
}

.content h3 {
  font-family: var(--paragraph-font-family);
  font-size: 24px;
  font-weight: 800px;
}

.content-container p {
  font-family: var(--paragraph-font-family);
  font-size: 18px;
  font-weight: 500px;
  text-align: center;
  line-height: 30px;
}

.btn-about-projects {
  background: var(--branding-color);
  color: var(--primary-font-color);
  border-radius: 4px;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 200px;
}

@media (max-width: 900px) {
  .btn-about-projects {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 20px;
  }
  .content-container {
    padding: 80px 20px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .content h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 44px;
  }

  .description {
    text-align: center;
    padding: 0px 20px;
  }

  .hero {
    padding: 80px 20px;
  }
}
